
.assistant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 600px; 
}


.spoken-text {
  color: white;
  margin-top: 40px;
  margin-left: -40px;
  font-size: 1.6rem;
  /* Adjust as needed */
  text-align: center;
  /* Adjust as needed */
}
.h1{
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
}
.text-container {
  position: center;
  top: 30px;
  height: 40px;
  width: 80%;
}
.carousel-container {
 
  width: 100%;
  flex-grow: 1; 
}


@media (max-width: 500px) {
  .assistant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .text-container {
    position: center;
    top: 50px;
    height: 40px;
    width: 60%;
    margin-bottom: 20px;
  }
  .carousel-container {
     margin-left: 10%;
    width: 100%;
    flex-grow: 1; 
  }
  
}